<head>
  <meta charset="utf-8">
  <title>Search Ticket</title>
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel ="stylesheet" href="search-booking.component.css">
  </head>
  <body>
      <div class="wrapper">
          <div class="input-menu">
  <nav>
  <label class="logo">Search Ticket</label>
  <ul>
      <li><a href="#" >Book Ticket</a></li>
      <li><a href="#">Search Ticket</a></li>
      
  </ul>   
  </nav>
  </div>
  <div class="container">
    <form>
      <label for="PNR">PNR</label>
      <input type="text" [(ngModel)]="data.PNR" id="PNR" name="PNR" placeholder="PNR">
  
     
  
      <label for="Email">Email</label>
      <input type="text"  [(ngModel)]="data.Email" id="Email" name="Email" placeholder="Email">
    
  
      <input type="submit" (click)="submit()" value="Search">
    </form>
  </div>
  <div *ngIf="x;else ab">
    <table id="Tickets">
<tr>
<th *ngFor="let column of headers">
{{column}}

</th>
<th>
  Click View to see Details
  
  </th>
  <th>
    Click Below to Cancel Ticket
    
    </th>
<tr *ngFor ="let row of rows">

  <td *ngFor ="let column of headers">
    {{row[column]}}


  </td>
  <td >
   <a href="">View</a>


  </td>
  <td >
    <a href="">Cancel</a>


  </td>
</tr>



    </table>
</div>
<ng-template #ab>

  
</ng-template>
 
  </div>
  </body>