<head>
    <meta charset="utf-8">
    <title>Flight Booking</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel ="stylesheet" href="app.component.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="input-menu">
    <nav>
    <label class="logo">Airline Services</label>
    <ul>
        <li><a href="#" >Book Ticket</a></li>
        <li><a href="#">Search Ticket</a></li>
        
    </ul>   
    </nav>
    </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
<mat-card fxFlex="75">
<mat-toolbar color="primary">Admin Login</mat-toolbar>
<form fxLayoutAlign="stretch" fxLayout="coulmn" class="login-form">
<mat-form-field>

    <input matInput placeholder="Username">
</mat-form-field>

<mat-form-field>

    <input matInput type="password" placeholder="Password">
</mat-form-field>


    <button mat-raised-button type="submit" class="submit">Login</button>


</form>

</mat-card>

    </div>
   
    </div>
    </body>